/* Untuk Tablet */
@media all and (max-width: 1000px) {

  .red-content,
  .green-content {
    display: block;
  }

  .content-1-items {
    width: 90%;
    margin: 30px auto;
  }

  .content-1-items img {
    width: 100%;
    height: 300px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .red-content,
  .green-content {
    display: block;
  }

  .content-1-items {
    width: 90%;
    margin: 30px auto;
  }

  .content-1-items img {
    width: 100%;
    height: 250px;
  }
  
   footer {
    text-align: center;
  }
}
