/* Untuk Tablet */
@media all and (max-width: 1000px) {

  header {
    padding: 18px 50px 0;
    background-color: #1C2331;
  }

  .header-list a {
    display: none;
  }

  .container .header-right a {
    display: none;
  }

  .menu-icon {
    display: block !important;
    margin-top: -23px;
  }

  .red-content,
  .green-content {
    display: block;
  }

  .content-1 {
    padding: 0;
  }

  .content-1-items {
    width: 80%;
    margin: 30px auto;
  }

  .content-1-items img {
    width: 100%;
    height: 300px;
  }

  .batas {
    margin: 5rem 0;
    padding: 0;
    box-sizing: content-box;
  }

  .content-2,
  .content-2 .container,
  .section-title,
  .content-2 .row,
  .content-2 .column,
  .garis2 {
    display: none;
    position: absolute;
    z-index: -9999;
  }

  .content-3 {
    padding: 0 0 100px 0;
  }

  /* .tryout-content {
    width: 100%;
  }

  .tryout-content p {
    margin-bottom: 10px;
  }

  .col-10 {
    margin-left: 40px;
  }

  .row {
    width: 10px;
  } */
}



@media all and (max-width: 670px) {

  header {
    padding: 18px 5px 0;
    background-color: #1C2331;
  }

  .header-list a {
    display: none;
  }

  .container .header-right a {
    display: none;
  }

  .menu-icon {
    display: block !important;
    margin-top: -23px;
  }

  .content-1 {
    padding: 0;
  }

  .red-content,
  .green-content {
    display: block;
  }

  .content-1-items {
    width: 95%;
    margin: 30px auto;
  }

  .content-1-items img {
    width: 100%;
    height: 250px;
  }

  .batas {
    margin: 5rem 0;
    padding: 0;
    box-sizing: content-box;
  }

  .content-3 {
    padding: 0 0 100px 0;
  }

  .content-2,
  .content-2 .container,
  .section-title,
  .content-2 .row,
  .content-2 .column,
  .garis2 {
    display: none;
    position: absolute;
    z-index: -9999;
  }

  footer {
    text-align: center;
  }

  .footer-center strong {
    font-weight: normal;
  }
}