/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Awal Content 1 */
.content-1 {
  margin-top: 50px;
}

.red-content,
.green-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.content-1-items {
  flex: auto;
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 15%), -1px -1px 6px rgb(0, 0, 0, 15%);
  margin: 18px;
}

.content-1-items img {
  width: 100%;
  height: 200px;
}

.content-1-txt {
  padding: 1.25rem 1.7rem;
}

.content-1-items h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #212529;
  margin-bottom: .75rem;
}

.content-1-items p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #747373;
}

.content-1-btn {
  display: inline-block;
  padding: .84rem 2rem;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 20%), 0 2px 10px 0 rgb(0, 0, 0, 16%);
  cursor: pointer;
}

.content-1-btn:hover {
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 20%), 0 2px 10px 0 rgb(0, 0, 0, 16%);
}

.red-content .content-1-btn {
  border: 2px solid #ff3547;
  color: #ff3547;
}

.green-content .content-1-btn {
  border: 3px solid #00c851;
  color: #00c851;
}

/* Akhir Content 1 */

/*hr batas antar konten*/
.batas {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* Awal Content 3 */
.content-3 {
  padding: 0px 100px 100px 100px;
}

.content-3 h1 {
  text-align: center;
  padding-bottom: 4rem;
}

.tryout-content {
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.tryout-content-icon {
  position: relative;
}

.content-3 img {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content-3-btn {
  display: inline-block;
  color: white;
  background-color: red;
  padding: 1rem;
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 20%), 0 2px 10px 0 rgb(0, 0, 0, 16%);
  cursor: pointer;
}

.content-3-btn:hover {
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 30%), 0 2px 10px 0 rgb(0, 0, 0, 20%);
}

.content-3 h2 {
  padding-bottom: .50rem;
  font-weight: 300;
  font-size: 1.60rem;

}

.content-3 p {
  padding-bottom: 1rem;
  padding-right: 1.9rem;
  padding-left: 2.7rem;
  color: #9e9e9e;
}

.fa {
  box-sizing: border-box;
  display: inline-block;
  text-rendering: auto;
  line-height: 7;
  padding-right: 10px;
  color: blue;
  font-weight: bolder;
}

.header-content-3 span {
  color: red;
}

/* Akhir Content 3 */


/* Awal footer*/
footer {
  width: 100%;
  height: 78px;
  margin-top: 20px;
  background-color: #000;
  padding: 15px 0;
  position: absolute;
}

.footer-center {
  font-size: 16px;
  color: white;
  line-height: 24px;
  text-align: center;
  font-family: Monstserrat, Helvetica, Times, serif;
  font-style: normal;
  font-weight: 300;
}

.fa-heart {
  color: #dc3545;
  padding-right: 5px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.footer-center strong {
  font-weight: bold;
}

/*Akhir Footer*/