/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1135px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Awal Header */
header {
  Position: fixed;
  z-index: 10;
  height: 60px;
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  top: 0;
  padding: 18px 105px 0;
  box-sizing: border-box;
}

.container .header-left .logo {
  color: #212529;
  float: left;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  font-size: 20px;
  font-weight: 300;
  margin-right: 3px;
}

.container .header-left .logo1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  line-height: inherit;
  font-family: 'Roboto', 'Sans-serif';
  float: left;
  padding: 0px 6px;
  width: 10px;
  margin-right: 95px;
  margin-top: 3px;
}

.container .header-right a {
  border: 1px solid #dee2e6 !important;
  padding: 6px 6px;
  font-weight: 300;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: .25rem;
  font-family: 'roboto', 'sans-serif';
  line-height: 1.5;
  float: right;
  color: #fff;
  margin-top: -8px;
}

.menu-icon {
  display: none !important;
  color: white !important;
  float: right;
  padding: 21px 0;
}

.container .header-list a {
  float: left;
  color: rgba(255, 255, 255, .90);
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  margin-top: 3.5px;
  margin-right: 20px;
  padding: 0px 6px;
  background-color: transparent;
}

/* Akhir Header */

/* Awal Jumbotron */
.jumbotron {
  background-image: url(img/jumbotron/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.jumbotron .cover {
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jumbotron p {
  font-family: Montserrat, Helvetica, Times, serif;
  color: rgb(255, 64, 86);
  font-size: 70px;
  font-weight: 400;
  line-height: 84px;
  text-align: center;
  margin-top: 257px;
}

/* Akhir Jumbotron */

/* Awal Content 1 */
.content-1 {
  margin-top: 35px;
  padding: 0 105px;
}

.red-content,
.green-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.content-1-items {
  flex: auto;
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 15%), -1px -1px 6px rgb(0, 0, 0, 15%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.tengah {
  margin-right: 45px;
  margin-left: 45px;
}

.content-1-items img {
  width: 100%;
  height: 200px;
}

.content-1-txt {
  padding: 1.25rem 1.7rem;
}

.content-1-items h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #212529;
  margin-bottom: .75rem;
}

.content-1-items p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #747373;
}

.content-1-btn {
  display: inline-block;
  padding: .84rem 2rem;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 20%), 0 2px 10px 0 rgb(0, 0, 0, 16%);
  cursor: pointer;
}

.content-1-btn:hover {
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 20%), 0 2px 10px 0 rgb(0, 0, 0, 16%);
}

.red-content .content-1-btn {
  border: 2px solid #ff3547;
  color: #ff3547;
}

.green-content .content-1-btn {
  border: 3px solid #00c851;
  color: #00c851;
}

/* Akhir Content 1 */

/*Awal hr Batas antar Konten*/
.batas {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 105px;
  box-sizing: content-box;
}

.batas hr {
  border-color: rgba(0, 0, 0, .1);
}


/*Awal Content 2*/
<<<<<<< HEAD
=======
/* .content-2 {
  box-sizing: border-box;
  flex-wrap: wrap;
}

.batas {
  margin: 0 135px;
  border-top: 1px solid rgb(229, 229, 229);
}

>>>>>>> wiwin
.section-title {
  font-weight: 500;
  font-size: 28px;
  color: #212529;
  text-align: center;
  height: 33px;
  margin: 48px 0;
}

.row {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding-right: 20px;
  float: left;
}

.column {
  height: 100px;
  width: 24%;
  display: flex;
  padding: 0 10px;
}

.column-1 {
  height: 128px;
  width: 100%;
  display: flex;
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  color: #3f51b5;
}

.column-2 {
  height: 120px;
  width: 200px;
  padding: 0 20px;
}

.column-2 h5 {
  color: #212529;
  ;
  height: 24px;
  width: 207px;
  font-size: 20px;
  font-weight: 300;
}

.column-2 p {
  color: #9e9e9e;
  height: 96px;
  width: 200px;
  font-size: 16px;
  font-weight: 300;
  margin: 8px 0 16px 0;
  line-height: 1.5;
} */

/*Akhir Content 2*/

/* Awal Content 3 */
.content-3 {
  padding: 0px 105px 100px 105px;
}

.content-3 .header-content-3 h1 {
  font-weight: 500px;
  text-align: center;
  font-size: 28px;
  color: #212529;
  line-height: 34px;
  padding-bottom: 4rem;
  margin-top: -40px;
}

.tryout-content {
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.tryout-content i {
  font-weight: 900px;
  font-size: 32px;
  line-height: 32px;
}

.tryout-content .fa-code {
  color: #3f51b5;
}

.tryout-content .fa-book {
  color: #2196f3;
}

.tryout-content .fa-trophy {
  color: #00bcd4;
}

.tryout-content h6 {
  font-size: 20px;
  color: #212529;
  line-height: 40px;
}

.tryout-content p {
  margin-left: 15px;
  color: #9e9e9e;
  line-height: 28px;
}

.tryout-content h6,
.tryout-content p {
  font-weight: 120;
}

.tryout-content-icon {
  position: relative;
}

.content-3 img {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content-3-btn {
  font-family: ;
  display: inline-block;
  color: white;
  background-color: #ff3547;
  padding: .7rem 1.6rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 20%), 0 2px 10px 0 rgb(0, 0, 0, 16%);
  cursor: pointer;
}

.content-3-btn:hover {
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 30%), 0 2px 10px 0 rgb(0, 0, 0, 20%);
}

.content-3 h2 {
  padding-bottom: .50rem;
  font-weight: 300;
  font-size: 1.60rem;

}

.content-3 p {
  padding-bottom: 1rem;
  padding-right: 1.9rem;
  padding-left: 3rem;
  color: #9e9e9e;
}

.fa {
  box-sizing: border-box;
  display: inline-block;
  text-rendering: auto;
  line-height: 7;
  padding-right: 10px;
  color: blue;
  font-weight: bolder;
}

.header-content-3 span {
  color: red;
}

/* Akhir Content 3 */


/* Awal footer*/
footer {
  width: 100%;
  height: 78px;
  margin-top: 20px;
  background-color: #000;
  padding: 15px 0;
  position: absolute;
}

.footer-center {
  font-size: 16px;
  color: white;
  line-height: 24px;
  text-align: center;
  font-family: Monstserrat, Helvetica, Times, serif;
  font-style: normal;
  font-weight: 300;
}

.fa-heart {
  color: #dc3545;
  padding-right: 5px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.footer-center strong {
  font-weight: bold;
}

/*Akhir Footer*/